<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<h1 style="color:red;">WARNING!!!</h1>
		<!-- <h1 style="font-color:blue;font-size:24px;">WARNING!!!</h1> -->
		</head>
		<body>
			<p class="text-primary">The site {{ website }} has cryptomining code embedded. </p>
		<!-- 	<div class="form-group">
						<label for="comment" class="text-primary">The site{{ website }} does not have cryptomining code embedded. </label>
						<textarea class="form-control" rows="5" id="comment"></textarea>
					</div> -->
		</body>
	</html>